[submodule "dep/cmake"]
	path = dep/cmake
	url = ../../aeon-engine/libaeon-cmake.git
	branch = master
[submodule "dep/googletest"]
	path = dep/googletest
	url = ../../aeon-external-dependencies/googletest.git
	branch = submodule
[submodule "dep/libaeon"]
	path = dep/libaeon
	url = ../../aeon-engine/libaeon.git
	branch = master
[submodule "dep/zlib"]
	path = dep/zlib
	url = ../../aeon-external-dependencies/zlib.git
    branch = submodule
[submodule "dep/png"]
	path = dep/png
	url = ../../aeon-external-dependencies/libpng.git
    branch = submodule
